#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;

}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #61dafb;
  text-decoration: underline;
}




.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  
}

.login-form {
  background-color: white;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  
}

.login-form h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  text-align: left;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input {
  margin-right: 8px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

